
.animal-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: -1em;
 }
 .animal-grid__block {
    width: calc(100% / 6 - 1em);
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 1em;
    margin-bottom: 1em;
    display: block;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    position: relative;
 }
 .animal-grid__image-outer {
    position: relative;
 }
 .animal-grid__image{
    max-width: 100%;
 }
 .animal-grid__text{
    max-width: 100%;
    padding: 1em 1.25em;
 }
 .animal-grid__animal-name{
    font-weight: 700;
    color: #322525;
    font-size: 1.25em;
    line-height: .8;
    bottom: 0;
    left: 0;
    display: block;
    //background-color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    width: 100%;
 }

 .animal-grid__animal-description{
    display: block;
    color: #777;
    font-size: .75em;
    font-style: italic;
    line-height:1;
    margin-top: .5em;
 }
 .animal-grid__block-footer{
    padding: 0 .25em;
 }
 
 .animal-grid__prompts {
    color: #555;
    font-size: .75em;
    line-height:1;
    margin-left: 1.5em;
    padding: 0;
 }
 .animal-grid__prompt-item {
 
 }
 .animal-grid__icons {
   //  position: absolute;
    margin: 0;
    padding: 0;
    top: .5em;
    right: .5em;
    list-style-type: none;
    text-align: center;
    font-size: 1.2em;
    color: $mendoo_rood;
 
 }
 

 .animal-grid__icon-item {
    &--users .fa {
      color: $mendoo_rood;
      
    }
    &--female .fa{
      color: $mendoo_blauw; 
   }
   &--sign-out .fa{
      color: $mendoo_oranje;
   }
   &--home .fa {
      color: $mendoo_paars;
      
   }          
 }

 .checkerboard-white {
   background-image: linear-gradient(to bottom right, #ffffff, $mendoo_lichtzand);
}

.checkerboard-grey {
   background-image: linear-gradient(to top right,  $mendoo_zand, #fdfdfd);
}



 // UIT TABBED!! 
 
.animal-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: -1em;
 }
 .animal-grid__block {
    width: calc(100% / 4 - 1em);
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 1em;
    margin-bottom: 1em;
    display: block;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    position: relative;
 }
 .animal-grid__image-outer {
    position: relative;
    display: flex;
 }
 .animal-grid__image-weetikveelhoedatinhetengelsheetpotvolkoffie {
    width: 150px;
    height:150px;

 }
 /*
 WORDT OOK DEELS GEBRUIKT OP SINGLE PAGINA's IN ZIJMENU. MET CASCADE FIKSEN
 */
 .animal-grid__icons {
   margin: 0;
   padding: 0;
   width: calc(100% - 150px);
   list-style-type: none;
   text-align: center;
   font-size: 1.2em;
   color: $mendoo_uiterstdonkerrood;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
 }
 .animal-grid__icon-item {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $mendoo_zand;
    color: #90897d;
 }
 .animal-grid__icon-item:nth-child(2n) {
   background-color: darken($mendoo_zand, 3%);
 }

 /* de user update */
 .animal-grid__icon-item--female {
    //background-color: #a618a4;
    ///color: #f5f5f5; 
 }
 /* hulpverlening update*/
 .animal-grid__icon-item--users {
    //background-color: $mendoo_rood;
    ///color: #f5f5f5; 
 }
 /* nog geen updates*/
 .animal-grid__icon-item--heart {
    //background-color: #f5f5f5;
    //color: $mendoo_rood; 
 }
 /* jaarevaluatie update nodig*/
 .animal-grid__icon-item--sign-out {
    //background-color: #353535;
    //color: #f5f5f5; 
 }
 
 /* alle updates vereist zijn op tijd */
 .animal-grid__icon-item--all-good {
   background-color: $mendoo_zand;
   color: $mendoo_cyaan;
 }
 .animal-grid__icon-item--all-good > .fa {
    font-size: 2.5em;
 }
 /* zijbalk */
 .list-group.action-menu .animal-grid__icon-item--all-good {
    display: none;
 }
 

 .animal-grid__icon-item:hover {
    cursor:help
 } 
.animal-grid__icon-item .fa {
   display: inline-block;
   min-width: 18px;
   text-align: center;
}

 .animal-grid__image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
 }
 .animal-grid__image[src*='placeholder'] {
    filter: brightness(70%);
 }
 .animal-grid__text{
    max-width: 100%;
    padding: 1em 1.25em;
 }
 .animal-grid__animal-name{
    font-weight: 700;
    color: #322525;
    font-size: 1.25em;
    line-height: .8;
    bottom: 0;
    left: 0;
    display: block;
    text-transform: uppercase;
    width: 100%;
 }

 .animal-grid__animal-description{
    display: block;
    color: #777;
    font-size: .75em;
    font-style: italic;
    line-height:1;
    margin-top: .5em;
 }
 .animal-grid__block-footer{
    padding: 0 .25em;
 }
 
 .animal-grid__prompts {
    color: #555; 
    font-size: .75em;
    line-height:1.15;
    margin-left: 1.5em;
    padding: 0;
    font-weight: 500;
 }
 .animal-grid__prompt-item {
 
 }

 .animal-grid__image-weetikveelhoedatinhetengelsheetpotvolkoffie {
   position: relative;
   overflow: hidden;
}
.animal-grid__image-heart-ribbon {
   position: absolute;
   top: 0px;
   left: -30px;
   transform: rotate(-45deg);
   background-color: #eba2af;
   width: 80px;
   height: 20px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.animal-grid__image-heart-ribbon .fa-heart {
   color: $mendoo_rood;
font-size: 1em; 
}