@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap");
@import "map/leaflet";
@import "map/popup";
@import "map/buttons";

.map__outer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
[class^="map__"] {
  font-family: "Montserrat";
}

// #leaflet-map
.map__inner {
  box-shadow: 2px 0px 6px rgba(33, 33, 33, 0.3);
  flex-grow: 1;
}

.hidden {
  display: none !important;
}

.blurred {
  opacity: 0.2;
  filter: greyscale(50%) blur(1px);
}

// kop

@import "map/aside.scss";
@import "map/filter.scss";

// leaflet overschrijvingen
.leaflet-shadow-icon {
  transition: 0.2s ease-in-out;
}

.lmi {
  transition: 0.2s ease-in-out;
}
