@import "map/leaflet";
@import "map/popup";
@import "map/buttons";

.map__inner {
  height: 100vh;
  width: calc(100vw - 450px);
  position: absolute;
  top: 0;
  left: 0;
}

// kop

.map__aside {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  width: 450px;
  z-index: 500;
  padding: 20px;
  background-color: #f5f5f5;
}

.map__aside .map__heading:first-of-type {
  margin-top: 0;
}
.map__section:last-child {
  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@import "map/filter.scss";

// leaflet overschrijvingen
.leaflet-shadow-icon {
  transition: 0.2s ease-in-out;
}

.lmi {
  transition: 0.2s ease-in-out;
  &.color-red {
    filter: hue-rotate(140deg);
  }
  &.color-purple {
    filter: hue-rotate(65deg);
  }
  &.color-green {
    filter: hue-rotate(310deg);
  }
  &[alt~="is-shelter"],
  &[alt~="is-guest"] {
    // &[alt~="has-animals"] {
    //   border-right: 3px solid red;
    //   width: 28px !important;
    //   &[alt~="multiple-animals"] {
    //     border-right: 6px solid red;
    //     width: 31px !important;
    //   }
    // }
  }
}
