#app-body {
    overflow-x: hidden;
}
#app-body.tabbed-grid {
    background-color: #f2f2f2;
}
#app-body.tabbed-grid .header {
    background-color: #fff;
}
.bvmd-tabbladen {
    font-size: 1rem;
    height: 12em;
    margin-top: -2em;
    margin-bottom: 2em;
}
.bvmd-tabbladen__lijst {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
    position: relative;
}
.bvmd-tabbladen__lijst::after {
    content: '';
    display: block;
    position: absolute;
    left: -50vw;
    top: 0;
    height: 100%;
    width: 200vw;
    background-color: #fff;
}
.bvmd-tabbladen__lijst-item {
    z-index: 3;
    position:relative;
    top: 2em;

}
.bvmd-tabbladen__link {
    font-size: 2em;
    font-weight: 900;
    display: block;
    padding: .75em 0;
}
.bvmd-tabbladen__link--inactief:hover {
    /* color: #d1dbb; */
}
.bvmd-tabbladen__link--actief {
    /* background-color: #ce1d1d44;
    color: white; */
}
.bvmd-tabbladen__link,
.bvmd-tabbladen__link--inactief:hover {
    color: $mendoo_uiterstdonkerpaars;
}
.bvmd-tabbladen__link-binnen {
    padding: 0.25em 1.5em;
    border-bottom: 5px solid $mendoo_uiterstdonkerpaars;   
}
.bvmd-tabbladen__link-binnen--actief,
.bvmd-tabbladen__link:hover .bvmd-tabbladen__link-binnen {
    border-bottom-color: #f15a40;   
}
.bvmd-tabbladen:hover .bvmd-tabbladen__link-binnen--actief {
    border-bottom-color: $mendoo_uiterstdonkerpaars;
}
.bvmd-tabbladen:hover .bvmd-tabbladen__link:hover .bvmd-tabbladen__link-binnen--actief {
    border-bottom-color: $mendoo_uiterstdonkerpaars;
    cursor: initial;
}

.bvmd-tabbladen__lijst-item:first-child .bvmd-tabbladen__link-binnen {
    padding-left: .75em;
}
.bvmd-tabbladen__lijst-item:last-child .bvmd-tabbladen__link-binnen {
    padding-right: .75em;
}

// afkomstig uit guiest tabs.blade.php... status?
// #app-body {
//     overflow-x: hidden;
// }
// #app-body.tabbed-grid {
//     background-color: #f2f2f2;
// }
// #app-body.tabbed-grid .header {
//     background-color: #fff;
// }
// .bvmd-tabbladen {
//     font-size: 1rem;
//     height: 12em;
//     margin-top: -2em;
//     margin-bottom: 2em;
// }
// .bvmd-tabbladen__lijst {
//     display: flex;
//     flex-direction: row;
//     margin: 0;
//     padding: 0;
//     list-style-type: none;
//     height: 100%;
//     position: relative;
// }
// .bvmd-tabbladen__lijst::after {
//     content: '';
//     display: block;
//     position: absolute;
//     left: -50vw;
//     top: 0;
//     height: 100%;
//     width: 200vw;
//     background-color: #fff;
// }
// .bvmd-tabbladen__lijst-item {
//     z-index: 3;
//     position:relative;
//     top: 2em;

// }
// .bvmd-tabbladen__link {
//     font-size: 2em;
//     font-weight: 900;
//     display: block;
//     padding: .75em 0;
// }
// .bvmd-tabbladen__link--inactief:hover {
//     /* color: #d1dbb; */
// }
// .bvmd-tabbladen__link--actief {
//     /* background-color: #d1d44;
//     color: white; */
// }
// .bvmd-tabbladen__link,
// .bvmd-tabbladen__link--inactief:hover {
//     color: $mendoo_uiterstdonkerpaars;
// }
// .bvmd-tabbladen__link-binnen {
//     padding: 0.25em 1.5em;
//     border-bottom: 5px solid $mendoo_uiterstdonkerpaars;   
// }
// .bvmd-tabbladen__link-binnen--actief,
// .bvmd-tabbladen__link:hover .bvmd-tabbladen__link-binnen {
//     border-bottom-color: #f15a40;   
// }
// .bvmd-tabbladen:hover .bvmd-tabbladen__link-binnen--actief {
//     border-bottom-color: $mendoo_uiterstdonkerpaars;
// }
// .bvmd-tabbladen:hover .bvmd-tabbladen__link:hover .bvmd-tabbladen__link-binnen--actief {
//     border-bottom-color: $mendoo_uiterstdonkerpaars;
//     cursor: initial;
// }

// .bvmd-tabbladen__lijst-item:first-child .bvmd-tabbladen__link-binnen {
//     padding-left: .75em;
// }
// .bvmd-tabbladen__lijst-item:last-child .bvmd-tabbladen__link-binnen {
//     padding-right: .75em;
// }