// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// // Variables
 @import "variables";

// // Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


@import "map";

@import "animal_grid";
@import "animal_grid__guest";
@import "backend-sidemenu"; 
@import "tabbladen"; 
@import "header"; 

body {
    font-family: 'Montserrat', sans-serif;
  }
  
  .titel-letter {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    line-height: 1;
  }