.animal-list {
  margin: 1.5em 0;
  height: 33vh;
  overflow-y: scroll;
  width: calc(100% + 30px);
  padding-right: 30px;
  box-sizing: content-box;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: linear-gradient(
    90deg,
    black,
    rgba(0, 0, 0, 0.05) 0%,
    rgba(0, 0, 0, 0.05) calc(100% - 64px),
    transparent calc(100% - 64px),
    transparent 100%
  );
  &__item {
    max-width: calc(100% - 21px);
  }
  &__item + .animal-list__item {
    margin-top: 1.25em;
  }
  &__item > * {
    display: block;
    + * {
      margin-top: 0.33em;
    }
  }
  .hidden {
    display: none !important;
  }
}

.animal-list .map__button-wrapper {
  //
  &--animal {
    font-weight: 800;
    font-size: 1.25em;
    letter-spacing: 0.03em;
  }
}
.animal-list .map__link-style-button {
  line-height: 0.9;
  transition: 0.2s ease-in-out 0.1s;
  transform: translateX(0);
  &:focus {
    outline: none !important;
    text-decoration: none;
    transform: translateX(5px);
  }
  &:hover {
    color: #676363;
  }
  svg {
    display: none;
  }
}
