@import "divider";

.map-aside {
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  width: 300px;
  background-color: $mendoo_lichtzand;
  font-size: 16px;
  line-height: 1.1;
  overflow-x: hidden;
  padding-left: 30px;
}
.map-aside__section {
  position: relative;
  min-height: 200px;
}
.map-aside__section + .map-aside__section {
  margin-top: 40px;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -22px;
    left: -0;
    height: 4px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.map-aside__header {
  position: absolute;
  padding: 0.5em 0.5em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  left: -115px;
  top: calc(50%);
  transform: rotate(90deg);
  z-index: 10000000000000000;
  width: 200px;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.map-aside__heading {
  margin: 0;
  color: white;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
// info svg
.map-aside .map__link-style-button--text-btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;

  svg {
    margin: 0;
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
  }
}
.map-aside__body,
.map-aside__footer {
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px 0;
}
.map-aside__body {
  font-size: 0.75em;
  font-weight: 500;
}

.map-aside__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  &--ordered {
    list-style-type: lower-latin;
    margin-left: 2em;
  }
}

.map-aside__list-item--ordered {
  list-style-type: lower-latin;
}

.map-aside__body {
  & > .map-aside__paragraph,
  & > .map-aside__list,
  & > .map-aside__input {
    margin-top: 0.66em;
    margin-bottom: 0.66em;
    display: block;
  }
}

.map-aside__input--text-field {
  border: 0;
  padding: 0.5em 1em;
  width: 100%;
  box-shadow: inset 1px 1px 4px rgba(81, 81, 211, 0.2);
  transition: 0.4s ease-in-out 0.1s;
  &:focus {
    box-shadow: inset 1px -1px 3px rgba(81, 81, 211, 0.4);
    border: 0;
    outline: 0;
  }
}

@import "aside-animal-list";
