.map__link-style-button {
  border: 0;
  padding: 0;
  margin: 0;
  color: #333;
  &:hover {
    color: #333;
  }
  background-color: transparent;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  display: inline-flex;
  &:focus {
    outline: 2px solid rgb(81, 81, 211);
  }
  &::after {
    display: inline-block;
    margin-left: 3px;
  }
  &--does-action {
    position: relative;
    &:hover {
      cursor: pointer;
    }
    &::after {
    }
  }
  &--real-anchor {
    color: rgb(81, 81, 211);
    &:hover {
      color: #51a8d3;
      cursor: pointer;
    }
    &::after {
      content: "";
    }
    &.map__link-style-button--tel {
      color: #333;
      &::after {
        content: "📱";
      }
    }
    &.map__link-style-button--mail {
      color: #333;
      &::after {
        content: "📧";
      }
    }
  }
}
.map__link-style-svg {
  width: 1em;
  height: 1em;
  margin: 0 0 0.33em 0;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.5;
  transition: 0.2s ease-in-out 0.2s;
  path.svg-path-2 {
    fill: rgb(81, 81, 211);
  }
}
a:hover .map__link-style-svg {
  opacity: 1;
}
